html {
    min-height: 100vh;
    min-width: 100vw;
}

body {
    height: 100%;
    padding: 10px 20px;
    width: 100%;
}

/* .responsive-video-class {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
  }

  .responsive-video-class iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  } */